.songCovers{
  width: 200px;
  height: 220px;
   background-size: cover;
   border-radius: 10px;
   /* padding-right: 10%; */

}

.byGenrePage{
  background-color: #621389;
  width:100%;
}

.innerMainGenreDiv{
  padding-top: 15px;
  margin-right:18%;
  margin-left:18%;
  background-color: #d1d1d1;
}

.songsMainDiv{
  height:300px;

  display: flex;
align-items: center;
/* height: 500px; */
/* background-color: pink; */
}

.inputBox{
  width: 250px;
height: 20px;
}


.songImage{
  height:96%;
   padding-right: 3%;
   padding-left: 2%;

}

.pairedTitleAndFavorites{
  display: flex;
justify-content: space-around;
background-color: #621389;
border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.displayCommentsAndPost{
  display: block;
width: 600px;
height: 200px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
background-color:#fff;
   overflow-y: scroll;
}
